
#page1 {
  background-color: #223A5E;
  height: 1000px;
}

#page2 {
  background-color: #F3D6E4;
  height: 1000px;
}

#page3 {
  background-color: #4F84C4;
  height: 1000px;
}

nav.top-bar.dark {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  text-align: center;
}

.menu {
  display: inline-block;
}

h1 {
	font-family: "Open Sans";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: "Open Sans";
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Open Sans";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
