<div class="row roots">
  <div class="small-6 small-centered large-centered columns top">
    <h1 class="text top"><%= link_to "'How Do", darks_path, class: "text light" %></h1>
  </div>
  <div class="small-6 small-centered large-centered columns bottom">
    <h1 class="text bottom"><%= link_to "You Feel?'", lights_path, class: "text dark" %></h1>
  </div>
</div>

<footer class="controller-<%= params[:controller] %>">
  <div class="footerinfo"><i>&copy;2017 COREY.FISCHER.<i></div>
</footer>
