
<script>
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 750);
        return false;
      }
    }
  });
});
</script>

<div class="fixed">
  <nav class="top-bar dark" data-topbar role="navigation">
    <ul class="menu">
      <li><a href="#about">About</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</div>
<div id="page1">
  <a id="about" class="smooth"></a>
  <div class="about">
    <br></br>
    <br></br>
    <h1>About page content goes here.</h1>
  </div>
</div>
<div id="page2">
  <a id="portfolio" class="smooth"></a>
  <div class="portfolio">
    <br></br>
    <br></br>
    <h1>Portfolio page content goes here.</h1>
  </div>
</div>

<div id="page3">
  <a id="contact" class="smooth"></a>
  <div class="contact">
    <br></br>
    <br></br>
    <h1>Contact page content goes here.</h1>
</div>
